/* Color/Font/Global References
: #b5bcc6 (background blue)
: #faf8f2 (background white)
: #
*/

/* GLOBAL CSS */

.box {
    border: 1px solid black;
}
/* html { 
    background: url(../img/beachCropped.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
/* 
.background { 
    background: url(../img/beachCropped.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

body {
    background-color: #faf8f2;
}
.background {
    background-color: #faf8f2;
    color: black;
}

.softWhite {
    background-color: #faf8f2;
    color: black;
}

.screen {
    background: transparent;
}   

.centered {
    margin: 100px auto 75px;
    text-align: center;
}

.storyHeader {
    margin: 0 300px
}

.intro {
    font-size: 50px;
    padding-top: 25%;
    text-align: right;
}

.paddingHighLow {
    padding-top: 20px;
    padding-bottom: 40px;
}

.paddingSide {
    padding: 0 20px;
}

.element {
    color: #faf8f2;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

/* Media 