/*
    COLOR REFERENCES

: #f2f2f2 (background white)
: #262626 (background/font black)
: #777777 (font gray)
: #167ffb (font blue)
: #bdbdbd (font gray)
*/

/*
    TESTING
    -----------------------------------------------------------
*/
.box { border: 1px solid black; }
.redBox { border: 1px solid red; }
.blueBox { border: 1px solid blue; }
.greenBox { border: 1px solid green; }
.yellowBox { border: 1px solid yellow; }
.purpleBox { border: 1px solid purple; }
.thickBox { border: 10px solid black; }
/*
    GLOBAL
    -----------------------------------------------------------
*/
body {
    background-color: #f2f2f2;
}
.background {
    background-color: #f2f2f2;
    color: #262626;
}
.softWhite {
    background-color: #f2f2f2;
    color: #262626;
}
.softBlack {
    background-color: #262626;
    color: #f2f2f2;
}
.text_centered {
    text-align: center;
}
/*
    EFFECTS
    -----------------------------------------------------------
*/
.transparent {
    background: transparent;
} 
.semi_transparent{
    background:rgba(255, 255, 255, 0);
}
.fade {
    background: linear-gradient();
}
.gradient {
    background: #262626;
    background: -webkit-linear-gradient(#262626, rgba(255, 255, 255, 0));
    background:    -moz-linear-gradient(#262626, rgba(255, 255, 255, 0));
    background:         linear-gradient(#262626, rgba(255, 255, 255, 0)); 
}
.gradient2 {
    background: #262626;
    background: -webkit-linear-gradient(#162220, #262626);
    background:    -moz-linear-gradient(#162220, #262626);
    background:         linear-gradient(#162220, #262626); 
}
.gradient3 {
    background: #262626;
    background: -webkit-linear-gradient(#162220, #262626);
    background:    -moz-linear-gradient(#162220, #262626);
    background:         linear-gradient(#162220, #262626); 
}
.image-blurred-edge {
    background-image: url('');
    width: 200px;
    height: 200px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px #f2f2f2 inset;
}
/*
    NAVBAR
    -----------------------------------------------------------
*/
#brand {
    color: #167ffb;
}
/* 
    SECTION 1
    -----------------------------------------------------------
*/
#section1 {
    width: 100%;
    height: auto;;
    background: #f2f2f2;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* flex-flow: wrap; */
}
.box1 {
    width: 50%;
    height: 100%;
    background: #f2f2f2;
    /* margin: 3%; */
    box-sizing: border-box;
    font-size: 50px; 
}
.box2 {
    width: 50%;
    height: 100%;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
}
.empty {
    color: #f2f2f2;
}
#img {
    width: 100%;
    height: auto;
}
.intro {
    font-size: 40px;
    text-align: right;
    margin-bottom: 0;
    padding-right: 5px;
}
.element {
    color: #f2f2f2;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.top2 {
    margin-top: 80px;
}
.invert {
    background: #262626;
    color: #f2f2f2;
}
.zeroTop {
    margin-top: 0;
}
/* 
    SECTION 2
    -----------------------------------------------------------
*/
.story {
    margin: 0 25%;
    text-align: center;
    padding: 30px 0 10px 0;
}
#resumeLink {
    color: #167ffb;
    text-decoration: none;
}
.gradient3 {
    color: #f2f2f2;
    background: #262626;
    background: -webkit-linear-gradient(#162220, #262626);
    background:    -moz-linear-gradient(#162220, #262626);
    background:         linear-gradient(#162220, #262626); /**/ 
}
/* 
    SECTION 3
    -----------------------------------------------------------
*/
#hero {
    background: url('../img/beachCopy.jpeg') no-repeat center center fixed;
    background-size: cover;
	min-height: 500px;
	position: relative;
	display: table;
	width: 100%;
	padding: 0;
	color: #fcfcfc;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
.article { 
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
#hero .hero-text {
	margin-top: 30px;
}
.pRL0 {
    padding-right: 0;
    padding-left: 0;
}
.mAuto {
    margin: 0 auto;
}
/* .space {
    padding-top: 90px;
    padding-bottom: 40px;
} */
.centered {
    text-align: center;
}
.gradient {
    background: #262626;
    background: -webkit-linear-gradient(#262626, rgba(255, 255, 255, 0));
    background:    -moz-linear-gradient(#262626, rgba(255, 255, 255, 0));
    background:         linear-gradient(#262626, rgba(255, 255, 255, 0)); 
}
.m0-25perc {
    margin: 0 25%;
}
.more {
    color: #777777;
    font-family: 'Work Sans', sans-serif;
}
.smallFont {
    font-size: 17px;
}
.none {
    color: transparent;
}

















/* 
    MEDIA
    -----------------------------------------------------------
*/
@media screen and (max-width: 763px) {
    #section1 {
        flex-direction: column;
    }
    .box1 {
        width: 50%;
    }
    .box2 {
        width: 100%;
    }
    .intro {
        font-size: 35px;
    }
     /* SECTION 2 */
     /* .story {
        margin: 0 25%;
        text-align: center;
    } */
}

@media screen and (max-width: 650px) {
    /* SECTION 1 */
    #section1 {
        flex-direction: column;
    }
    .box1 {
        width: 60%;
    }
    .box2 {
        width: 100%;
    }
    .intro {
        font-size: 35px;
    }
    /* SECTION 2 */
    .story {
        margin: 0 15%;
        text-align: center;
    }
}

@media screen and (max-width: 475px) {
    /* SECTION 1 */
    #section1 {
        flex-direction: column;
    }
    .box1 {
        width: 100%;
    }
    .box2 {
        width: 100%;
    }
    .intro {
        font-size: 35px;
    }
    /* SECTION 2 */
    .story {
        margin: 0 5%;
        text-align: center;
        padding: 30px 0 10px 0;
    }
}

/* @media screen and (max-width: 600px) {
    .box {
        width: 40%;
    }
} */